.mat-button-toggle-checked {
  border: none !important;
}

.h-40 {
  height: 40% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
